body {
    font-family: sans-serif;
  }
   
  .container {
    margin: 5px;
    display: flex;
    gap: 50px;
  }
  @media screen and (max-width:400px) {
    .container{
      flex-direction: column;
    }
  }
  
  #posts {
    width: 400px;
    max-width: 100%;
    border-radius: 5px;
  }
  
  i {
    cursor: pointer;
  }
    
  #posts div {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 3px solid white;
    background-color: rgb(169, 231, 231);
    border-radius: 5px;
    
  }  
  .options {
    display: flex;
    gap: 25px;   
  }
  .right{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  #msg {
    color: red;
  }


 

