body {
  font-family: sans-serif;
  background-color: rgb(193, 229, 240);
}  

#box{
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid blue;
}

.container {        
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

#posts {
  width: 90vw;
}
#input{
  width: 90vw; 
}

i {
  cursor: pointer;
}
  
#posts div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.options {
  display: flex;
  gap: 25px;
}  

h3{
  display: flex;
  justify-content: center;
}
footer{
  display: flex;
  justify-content: center;
  bottom: 5px;
  position: fixed;
  width: 90%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 13px;
  background-color: #ffff;
}

 

