*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
  font-family: sans-serif;
  background-color: aquamarine;
}  
.container {        
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
  margin: 5px;
  background-color: rgb(19, 19, 214);
  border-radius: 5px;
  width: 400px;
  height: 40px;
}
#clockAA{
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  font-size: 26px;
  background-color: #fff;
  border-radius: 5px;
  width: 400px;
  height: 40px;
}
#posts div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
form{
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#input{
  display: flex;
  justify-content: center;
  text-align: center;  
  font-size: 18px;
  font-weight: bold;  
  min-width: 400px;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 0;
}
#msg{ 
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 15px;
  font-weight: bold;  
  animation: progress-animation 5s infinite
}
.btn_salvar{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0, 255, 85); 
}
button{
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  color: #fff;
  width: 400px;
  height: 40px;
  cursor: pointer;
  background-color: rgb(19, 19, 214);
}
h3{
  display: flex;
  justify-content: center;
  margin: 5px;
  font-size: 15px;
}
#posts {
  overflow: auto;
  font-size: 23px;
  padding: 15px;
  width: 90vw;
  max-width: 400px;
  min-height: 480px;
  background-color: rgb(193, 229, 240);
  border-radius: 5px; 
  
}
.footer{
  position: fixed;  
  bottom:0;
  display: flex;
  justify-content: center;
  align-items: center;   
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1rem; 
  color: #fff; 
  background-color: rgb(19, 19, 214);
  width: 400px;
  border-radius: 5px;
  height: 35px;
}

 

